@media (max-width: 1370px) {
    .head_title  {
         margin: 50px 0 0 90px;
    }
    
    .main {
        margin: 40px 0 0  90px;
    }
    
    .main_button {
        margin: 70px 0 0 20px;
    }
    
    .main__wrapper::before {
        top: 220px;
    }
    
    .main__wrapper::after {
        top: 240px;
    }
    
}

@media (max-width: 1160px) {
    .main__wrapper::after {
        display: none;
    }
    .main__wrapper::before {
        display: none;
    }
}

@media (max-width: 925px) {
    .head_title {
        font-size: 50px;
    }
    .head_desk {
    margin: 6px 0 0 94px;
    }

    .main_button {
    margin: 70px 0 0 0px;
    width: 320px;
    height: 95px;
    }
}

