@media (max-width: 1370px) {
    .head_title  {
         margin: 50px 0 0 90px;
    }
    
    .main {
        margin: 40px 0 0  90px;
    }
    
    .main_button {
        margin: 70px 0 0 20px;
    }
    
    .main__wrapper::before {
        top: 220px;
    }
    
    .main__wrapper::after {
        top: 240px;
    }

    .card__container,
    .card__backside,
    .loser__card,
    .winner__card {
     background-size: 175px 271px;
     height: 269px;
     width: 173px;
     border-radius: 7px;
    }
    
}

@media (max-width: 1160px) {
    body {
        background-size: cover;
        height: 100%;
    }
    .main__wrapper::after {
        display: none;
    }
    .main__wrapper::before {
        display: none;
    }
}

@media (max-width: 965px) {
    body {
        background-size: cover;
        height: 100%;
    }
    .head_title {
        font-size: 50px;
    }
    .head_desk {
    margin: 6px 0 0 94px;
    }

    .main {
        margin: 0 0 0 60px;
    }

    .main_button {
    margin: 70px 0 0 50px;
    width: 320px;
    height: 95px;
    }

    .card__container,
    .card__backside,
    .loser__card,
    .winner__card {
     background-size: 155px 251px;
     height: 249px;
     width: 153px;
     border-radius: 7px;
}

@media (max-width: 925px) {
    body {
        max-width: 900px;
      }
    .head_title {
        margin: 100px 0 0 100px;
        line-height: 47px;
    }
    .head_desk {
        margin: 10px 0 0 105px;
    }

    .main {
        margin: 0 0 0 50px;
    }

    .main_button {
        margin: 40px 0 0 50px;
    }

   
    .difficulty-levels {
     margin-bottom: 100px;
    }
   
    .card__container,
    .card__backside,
    .loser__card,
    .winner__card {
     background-size: 110px 191px;
     height: 189px;
     width: 108px;
     border-radius: 7px;
    }
    
}

@media (max-width: 645px) {
    .head_title {
        font-size: 40px;
        margin: 50px 0 0 40px;
        line-height: 47px;
    }
    .head_desk {
        font-size: 17px;
        margin: 10px 0 0 43px;
    }
    .main {
        margin: 0 0 0 20px;
    }
    .main_menu {
        margin: 40px 0 0 60px;
    }   
    .main_menu__item {
        font-size: 45px;
    }
    .main_button {
        margin: 40px 0 0 40px;
        width: 252px;
        height: 65px;
        font-size: 22px;
    }

    .container__three-card {
        height: 610px;
    }

    .container__six-card {
        height: 610px;
    }

    .container__ten-card {
        height: 610px;
    }
}

@media (max-width: 600px) {
    .card__container,
    .card__backside,
    .loser__card,
    .winner__card {
     background-size: 100px 171px;
     height: 169px;
     width: 98px;
     border-radius: 7px;
    }
}

