html {
    overflow: hidden;
}

{margin: 0; padding: 0}

body {
    height: 100%;
    margin: 0;
    
    background: #28704F url(../image/Background.png);
    background-size: cover;
    
    font-family: Roboto;
}

.head {
    display: flex;
    flex-direction: column;
    
}

.head_title {
    margin: 130px 0 0 100px;
    color: white;
    
    font-style: normal;
    font-weight: bold;
    font-size: 57px;
    line-height: 67px;    
}

.head_desk {
    margin: 6px 0 0 105px;
    color: white;
    margin-top: 0;
    padding: 0;
    
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
}

.main__wrapper::before {
    content: "";
    background-image: url(../image/cards1.png);
    position: absolute;
    top: 430px;
    right: 338px;
    width: 288px;
    height: 383px;
    border-radius: 9px;
}

.main {
    margin: 60px 0 0 152px;
    display: flex;
    flex-direction: column;
}

.main_menu {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main_menu__item {
    margin: 4px;
    color: white;
    
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    
    background-color: transparent;
    border: 0;
    text-align: left;

    cursor: pointer;

}

.checked {
    opacity: 0.8;

}


.checked::before {
    content: '';
    background-color: #D62B2E;
    position: absolute;
    left: -15px;
    top: 24px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
}




.main_menu__item:hover{
    list-style-image: url(../image/Rectangle%202.svg);
    
    opacity: 0.8;
}

.main_button {
    margin: 112px 0 0 0px;
    
    width: 352px;
    height: 95px;
    border-radius: 7px;
    
    background-color: #D62B2E;
    color: white;
    
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    
    border: 0;
}

.main__wrapper::after {
    content: "";
    background-image: url(../image/cards2.png);
    position: absolute;
    top: 450px;
    right: 158px;
    width: 393px;
    height: 411px;
    z-index: 1;
    border-radius: 9px;    
}

